body{
    font-family: 'Balsamiq Sans', cursive;
    color: #48036F;
}

a {
  text-decoration: none;
  color: #6C006C;
}

.container{
    padding: 52px;
  }

  table {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    color: #48036F;
    border-collapse: collapse;
    margin-top: 20px;
  }

  td {
    border-bottom: 1px solid #48036F;
    padding: 5px;
    font-size: 18px;
  }

  td:nth-child(2n-1){
    border-right:  1px solid #48036F;
    width: 30%
  }

  tr:nth-child(2n){
    background-color: #f4c7da;
  }